body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 200px;
}

h1{
  margin: 10px;
  text-align: center;
}
.div1{
  background-color: black;
  padding: 30px;
  color: white;
  border-radius: 3px;
  margin: 15px;
}

.div2{
  background-color: black;
  padding: 30px;
  color: white;
  border-radius: 3px;
  margin: 15px;
}

a{
  background-color: #ffab02;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 4px;
}

span{
  color: #ffab02;
}